<header>
  <a class="site-logo" href="/">
    Exploria 🗺️
  </a>
  {{#if isLoggedIn}}
    <a href="/about">About</a>
    <a href="/search">Search</a>
    <a href="/explored">Explored</a>
    <a href="/unexplored">Unexplored</a>
    <a href="/api/logout">Logout</a>
  {{else}}
    <a href="/login">Login</a>
    <a href="/signup">Sign Up</a>
  {{/if}}
</header>
