{{> header}}
<main>
    <h1>All About Exploria 🗺️</h1>
    <p class="aboutapp">As humans, we have an innate sense of curiosity, which is why traveling is important. Not only is traveling fun, but it is educational and can potentially be life changing.</p>
    <p class="aboutapp">However, there are a lot of people who want to travel that don't have any travel experience. So, where are those of us supposed to start our travel journies?</p>
    <p class="aboutapp">If you're new to travel and looking to start crossing locations off your travel bucket list, Exploria is for you. It's the perfect place to begin planning your future travel adventures.</p>
    <p class="aboutapp">And what better place to begin your travel adventure than right here in the U.S.</p>
    <p class="aboutapp">Exploria provides information about the top 10 travel destination cities in the U.S. including tips and the top tourist spots in those cities. Additionally, Exploria pulls real-time weather updates with your city searches! You can see a detailed weather report of the location you are planning to travel to. This is all any new explorer could need when planning visits to the U.S cities on their travel bucket lists.</p>
    <p class="aboutapp">As a new explorer, you'll want to keep track of the places you've been and the places you still want to go. With Exploria, you can add destinations to your "Explored" list and "Unexplored" list!</p>
    <p class="aboutapp">Lastly, Exploria provides you with a new inspirational quote each time you visit the Search page to give you a little extra encouragement and positive energy. Words - like travel - can inspire us. As Albus Dumbledore once said, "Words are, in my not-so-humble opinion, our most inexhaustible source of magic."</p>
    <p class="aboutapp">Ultimately, Exploria is here to inspire, encourage and help make your adventures go as smoothly as possible.</p>
    <p class="endabout">There's an explorer inside us all.</p>
    <h3>Happy exploring!</h3>
</main>