{{> header}}
<main>
    <h1>Destination Search 🔍</h1>
    <p>Quote of the day: "{{oneQuote}}"</p>
    <p>Click on a location to learn about the top 15 travel desinations in the U.S.</p>
    <h3>Destinations:</h3>
    <div class="centerlist">
    <ol>
        <li><a class="privatelink" href="#">New York City, New York</a></li>
        <li><a class="privatelink" href="#">San Francisco, California</a></li>
        <li><a class="privatelink" href="#">Honolulu, Hawaii</a></li>
        <li><a class="privatelink" href="#">Chicago, Illinois</a></li>
        <li><a class="privatelink" href="#">Los Angeles, California</a></li>
        <li><a class="privatelink" href="#">Seattle, Washington</a></li>
        <li><a class="privatelink" href="#">Las Vegas, Nevada</a></li>
        <li><a class="privatelink" href="#">Washington, D.C.</a></li>
        <li><a class="privatelink" href="#">New Orleans, Louisiana</a></li>
        <li><a class="privatelink" href="#">Miami, Florida</a></li>
        <li><a class="privatelink" href="#">Boston, Massachusetts</a></li>
        <li><a class="privatelink" href="#">San Diego, California</a></li>
        <li><a class="privatelink" href="#">Portland, Oregon</a></li>
        <li><a class="privatelink" href="#">Austin, Texas</a></li>
        <li><a class="privatelink" href="#">Nashville, Tennessee</a></li>
    </ol>
    </div>
</main>