{{> header}}
<main>
    <h1>Places I Want To Go ✈️</h1>
    <p>View the places you've added to your Unxplored list. You can also add, update or delete your comments.</p>
    <p>Even better, you can remove places from this list and add them to your Explored list as you go on adventures!</p>
</main>