:root {
  --black: rgb(67, 114, 67);
  --dark-grey: #171c1c;
  --light-grey: #a7b9b7;
  --primary: #5cc1bb;
  --primary-dark: #8acbc6;
  --secondary: hsl(15deg 100% 62%);
  --secondary-light: hsl(30, 54%, 72%);
  --text-color: #f5fffe;
  --space: 16px;
  --font-size: 18px;
  --font-weight: 70;
}

body {
  background-color: var(--primary-dark);
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: gibson;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: var(--font-weight);
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: var(--black);
  padding: var(--space) calc(var(--space) * 3);
  text-align: center;
  margin-bottom: 100px;
}

main,
main form {
  border-radius: 4px;
}

h1 {
  font-size: calc(var(--font-size) * 2.25);
  font-weight: 700;
  letter-spacing: 1.5px;
}
h2 {
  font-size: calc(var(--font-size) * 2);
  font-weight: 700;
  letter-spacing: 1.5px;
}
h3 {
  font-size: calc(var(--font-size) * 1.5);
  font-weight: 700;
  letter-spacing: 1.5px;
}

a {
  color: var(--secondary-light);
  transition: color 200ms;
}
a:hover,
a:focus {
  color: var(--secondary);
}

button.btn {
  border: var(--text-color);
  border-radius: 4px;
  background-color: var(--secondary-light);
  padding: calc(var(--space) * 0.75) calc(var(--space) * 2);
  cursor: pointer;
  transition: background-color 200ms;
}
button.btn-text {
  border: none;
  background-color: transparent;
  color: var(--secondary-light);
  transition: 200ms;
  cursor: pointer;
}

button.btn:hover,
button.btn:focus {
  background-color: var(--secondary);
}
button.btn-text:hover,
button.btn-text:focus {
  color: var(--secondary);
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black);
  margin-bottom: calc(var(--space) * 6);
}
header a {
  margin: var(--space);
  text-decoration: none;
}
header .site-logo {
  font-size: calc(var(--font-size) * 1.5);
  margin: var(--space);
  margin-right: auto;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.site-logo {
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space) * 3) 0;
}

.login-form .login-error {
  color: var(--secondary-light);
}

.login-form input {
  margin-bottom: calc(var(--space) * 2);
  padding: calc(var(--space) * 0.5) calc(var(--space) * 1);
}

@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  /*Make nav bar links smaller for mobile screen */
  header a {
    margin: calc(var(--space) / 2.5);
    font-size: calc(var(--font-size) / 2)
  }
}

/*Adjusting nav bar link size for different mobile screen sizes */
@media screen and (min-width: 450px) and (max-width: 700px) {
  header a {
    margin: calc(var(--space) / 2);
    font-size: calc(var(--font-size) / 1.3)
  }
}

/*About page text align*/
.aboutapp {
  text-align: left;
}

/*Style for last sentence of About page*/
.endabout {
  font-style: italic;
}

/*Get rid of hyperlink underline*/
.privatelink {
  text-decoration: none;
}

/*Style search bar*/
.search-form {
  padding: 6px 11px 6px 11px;
  border: none;
  border-radius: 8px;
}

/*Style search page buttons*/
.search-button, .favorites-button {
  padding: 6px 11px 6px 11px;
  background-color: var(--secondary-light);
  transition: .5s;
  border: none;
  border-radius: 8px;
  margin-left: 5px
}

.favorites-button {
  padding: 6px 19px 6px 19px;
  margin-bottom: 30px;
}

/*Search button hover*/
.search-button:hover, .favorites-button:hover {
  background-color: var(--secondary);
  transition: .5s;
  cursor: pointer
}

/*Change gif link color on home page*/
.giflink2 {
  padding-bottom: 20px;
}

/*Change home page background color*/
.homepage {
  background-color: var(--primary-dark);
  margin-top: -90px;
}

/*Style list of cities*/
.city-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding: 0;
  text-align: left;
}

.list {
display: flex;
justify-content: center;
margin-left: 10px;
padding-bottom: 20px
}

/*Style search results*/
.search-div {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: -30px;
}

.info-item {
  max-width: 480px;
  text-align: left;
}

/*Style city name*/
.info-name {
  color: var(--secondary-light);
  margin-bottom: -5px;
}

/*Center city and state*/
.city-state {
  text-align: center;
}

/*Style travel tip*/
.info-tip {
  font-style: italic;
}

/*Style attractions list*/
.list-attractions {
  display: flex;
  justify-content: center;
}

.center-list {
  text-align: left;
  list-style-position: inside;
}

/*Container for all results*/
.results-div {
  display: flex;
  justify-items: center;
  margin-left: 20px;
}

/*Place home page gif*/
.home-gif {
  margin-top: 30px;
}

.giflink {
  margin-top: -5px;
  margin-bottom: -15px;
}

.giflink-dark {
  color: var(--secondary);
}

/*Put city info and weather info into columns*/
.city-info, .weather-info {
  flex: 1;
  text-align: left;
}

.search-div {
  max-width: 75%;
}

.weather-info {
  max-width: 35%;
  margin-top: -30px
}

/*Center text before a user searches/if search is invalid*/
/*Had to do this a round-about way, couldn't figure out for mobile*/
.other-search {
  margin-left: 310px;
  margin-bottom: 40px;
}

/*Adjust temp section line spacing*/
.temp-div {
  line-height: 20px;
}

/*Create column breakpoints for mobile screens, become one column*/
@media screen and (max-width: 800px) {
  .results-div {
    display: block;
  }

  .search-div, .weather-info {
    margin-left: -8px;
    text-align: center;
    max-width: 100%;
  }

  .button-paragraph {
    text-align: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 960px) {
/*Trying to center text on mobile*/
  .other-search {
    margin-left: 35%;
  }
}

.resize-about {
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}